[user]
	name = Will Bolton
	email = git@bolton.me.uk
[core]
	editor = vim
	excludesFile = ~/.git-excludesFile
[pull]
	ff = true
[init]
	defaultBranch = main
[alias]
	fl = log --oneline --graph --branches
